body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #000;
	font-family: Arial, sans-serif;
	color: #fff;
	text-align: center;
}

header {
	position: absolute;
	top: 1.5rem;
	display: flex;
	width: 100%;
	color: #eab676;
	font-size: x-large;
}

header button {
	position: absolute;
	left: 1rem;
	background-color: #003366;
	color: white;
	width: auto;
	border-radius: 0.25rem;
	border: none;
	padding: 0.75rem;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: 700;
}

header button:hover {
	opacity: 0.9;
	transform: scale(1.05);
	background-color: #002244;
}

header h1 {
	text-align: center;
	width: 100%;
}

.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

canvas {
	background-color: #111;
	border: 1px solid #fff;
}

#score {
	font-size: 1.5em;
	margin-bottom: 1.5rem;
}
